.categoryCard {
  background-color: #ecf2ff;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  margin-left: 120px;
  margin-right: 100px;
  border: 1px;
}

.categoryTitle {
  background-color: #D1D1D1;
  padding: 16px;
  border-radius: 15px 15px 0px 0px;
  font-size: 16px;
  font-weight: 600;
}

.replyInput {
  width: 50%;
  height: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px;
}
